body{
    font-family: $roboto-font;
    font-weight: $f-med;
    color:white;
    background-color: black;
}
a{
    font-family: $roboto-font;
    font-weight: $f-med;
    text-decoration: none;
    color:white;
}
.container{
    padding:0px 50px;
}